<% include partials/head.ejs %>
    <title>Add a post - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/log-out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>How was your last cycling route?</h1>
            <% include partials/form.ejs %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>