<% include partials/head.ejs %>
    <title>Bar Locations - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/log-out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1> Bar Locations</h1>
    <main>
        <section class="card-grid">
                <% for (let i = 0; i < barLocations.length; i++) { %> 
                    <article class="card">
                        <img src="<%= barImg %>" alt="bar image">
                        <h3><%= barLocations[i].name %></h3>
                        <p><%= barLocations[i].vicinity %></p>
                    </article>
            <% } %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>