<% include partials/head.ejs %>
<title>Sign-up | Drinkerz</title>
</head>

<body>
  <header>
      <% include partials/initial-navigation.ejs%>
  </header>
  <main class="form__container">
      <section class="homepage-banner">
    <div class="form__section">
      <figure class="form__header">
        <img src="./media/images/icons/icon.png" alt="logo Drinkerz">
        <h1 class="form__title">Drinkerz</h1>
      </figure>

      <% include partials/sign-up-form.ejs %>
    </div>
    </section>
  </main>
  <% include partials/footer.ejs %>
</body>

</html>

<script type="text/javascript">
  document.getElementById("untappdConnect").addEventListener("click", untappdConnect);

  function untappdConnect() {
    window.location.href = '<%- authLink %>';
  }
</script>
