<% include partials/head.ejs %>
    <title>Sign up - Drinkerz</title>
</head>
<body>
    <header>
      <% include partials/navigation.ejs %>
    </header>
    <main>
        <section>
            <h1>Create an account on Drinkerzz</h1>
            <% include partials/sign-up-form.ejs %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
