<% include partials/head.ejs %>
    <title><%= post.title %> - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article>
            <h1><%= post.title %></h1>
            <p><%= post.contents %></p>
        </article>
        <a href="/">Back to home</a>
    </section>
</body>
</html>