<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/log-out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Hi <%= user.firstName %>!</h1>
        <p>See what's on your feed</p>
    </section>
    <section class="feed">
        <a href="/add-post">Add a post</a>
        <h2>Your feed:</h2>
        <% include partials/posts.ejs %>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>