<% include partials/head.ejs %>
    <title>My feed - Drinkerz</title>
</head>
<body>
    <header>
      <% include partials/navigation.ejs %>
    </header>
    <section>
        <h1>Hi <%= user.firstName %>!</h1>
        <p>See what's on your feed</p>
    </section>
    <section class="feed">
        <a href="/add-post">Add a post</a>
        <h2>Your feed:</h2>
        <% include partials/posts.ejs %>
        <% include partials/filters.ejs %>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>
