<% include partials/head.ejs %>
    <title>Home | Drinkerz</title>
</head>
<body>
    <section>
        <h1>Hi <%= user.firstName %>!</h1>

    </section>
    <section class="beers__container">
      <ul class="beers__list" id="beer_results">
      </ul>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>
<script type="text/javascript">

  (function getBeers() {
    for(let i = 0; i < user.beers.length; i++) {
      fetch('https://api.untappd.com/v4/beer/info/' + user.beers[i] + '?access_token=' + user.token)
      .then(response => response.json())
      .then(function(data) {
        document.getElementById('beer_results').innerHTML +=
        '<li class="list__item"><h3 class="item__title">' + data.response.beer.beer_name + '</h3></li>'
      })

  }
  })()

</script>
