<% include partials/head.ejs %>
    <title>Home | Drinkerz</title>
</head>
<body>
    <section>
        <h1>Hi <%= user.firstName %>!</h1>

    </section>
    <section class="beers__container">
      <ul class="beers__list">

      </ul>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>
