<% include partials/head.ejs %>
<title>Home | Drinkerz</title>
</head>

<body>
  <section>
    <h1>Hi
      <%= user.firstName %>!</h1>

  </section>
  <section class="beers__container">
    <ul class="beers__list">
      <% for(let i = 0; i < user.beers.length; i++) { %>
      <li class="list__item">
        <h3 class="item__title">
          <%= user.beers[i].beer.name %>
        </h3>
        <p>
          <%= user.beers[i].beer.description %>
        </p>
      </li>
      <% } %>
    </ul>
  </section>

  <section>
    <form id="beer__search" action="/" class="beer__search">
      <input type="text" name="beerName" id="searchName" value="">
      <button type="submit" name="button">search</button>
    </form>
    <% if (beerResults) { %>
      <% for (let i = 0; i < beerResults.length; i++) { %>
        <article>
          <h2><%= beerResults %></h2>
        </article>
      <% } %>
    <% } %>
  </section>

  <% include partials/footer.ejs %>
</body>

</html>
