<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <section>
        <h1>Hi <%= user.firstName %>!</h1>
        <p>See what's on your feed</p>
    </section>
    <% include partials/footer.ejs %>
</body>
</html>
