<% include partials/head.ejs %>
<title>Login - Drinkerz</title>
</head>

<body>
  <header>
      <% include partials/initial-navigation.ejs%>
  </header>
  <main class="form__container">
    <section class="homepage-banner">
        <div class="form__section">
          <h1>Drinkerz</h1>
          <% if (error) { %>
          <p class="error">
            <%= error %>
          </p>
          <% } %>
          <% include partials/login-form.ejs %>
        </div>
    </section>
  </main>
  <% include partials/footer.ejs %>
  <script type="text/javascript">
    document.getElementById("untappdConnect").addEventListener("click", untappdConnect);

    function untappdConnect() {

      window.location.href = '<%- authLink %>';
    }
  </script>
</body>

</html>
