<% include partials/head.ejs %>
    <title>Log in - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/">Log in</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Log in to your account</h1>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <% include partials/login-form.ejs %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>