<% include partials/head.ejs %>
    <title>Log in - Drinkerz</title>
</head>
<body>
    <main>
        <section>
            <h1>Drinkerz</h1>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <% include partials/login-form.ejs %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>

<script type="text/javascript">
  document.getElementById("untappdConnect").addEventListener("click", untappdConnect);

  function untappdConnect() {
    const CLIENTID = 'A0D5D7F766E859E3EF145BD051A3A576D2EA97CF'
    let REDIRECT_URL = 'https://untappdtest.herokuapp.com/untappd-authentication'

    window.location.href = 'https://untappd.com/oauth/authenticate/?client_id=' + CLIENTID + '&response_type=code&redirect_url=' + REDIRECT_URL;
  }
</script>
