<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/log-out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Who to match?</h1>
    <main>
        <!-- Userpage will be the page where all the info is shown -->
        <a href="userpage">
            <article>
                <!-- Image of the  -->
                <img src="" alt="">
                <!-- Send a like to the array and saves it -->
                <form action="">
                    <button></button>
                </form>
                <!-- Name and city the person lives in -->
                <section>
                    <h2>Naam</h2>
                    <p>Plaats</p>
                </section>
            </article>
        </a>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>