<% include partials/head.ejs %>
<title>Set password | Drinkerz</title>
</head>

<body>
  <main class="sign-up__container">
    <section class="sign-up__section">
      <figure class="sign-up__header">
        <img src="/static/media/images/logo.png" alt="logo Drinkerz">
        <h1 class="sign-up__title">Drinkerz</h1>
      </figure>

      <form class="sign-up__form" action="/set-password" method="POST">
        <p>
          <%- user.username %>
        </p>

        <label>Password
        <input type="password" name="password" placeholder="password">
        </label>

        <label>Gender
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
        </label>

        <label>Age
        <input type="text" name="age" placeholder="age">
        </label>

        <p>preferred matches</p>

        <fieldset class="preferred__age">
          <label>Set age range
          <input type="text" name="age_min" placeholder="18">
          <p>till</p>
          <input type="text" name="age_max" placeholder="30">
          </label>
        </fieldset>

        <label>Likes
        <input type="radio" name="preferred_gender" value="male"> Male<br>
        <input type="radio" name="preferred_gender" value="female"> Female<br>
        <input type="radio" name="preferred_gender" value="both"> both
        </label>
        <button class="button--fullwidth" type="submit">Submit change</button>
      </form>
    </section>
  </main>
  <% include partials/footer.ejs %>
</body>

</html>
