<% include partials/head.ejs %>
    <title>Set password | Drinkerz</title>
</head>
<body>
    <main class="sign-up__container">
        <section class="sign-up__section">
          <figure class="sign-up__header">
            <img src="/static/media/images/logo.png" alt="logo Drinkerz">
            <h1 class="sign-up__title">Drinkerz</h1>
          </figure>

          <form class="sign-up__form" action="/set-password" method="POST">
              <p><%- user.username %></p>

              <label>Password</label>
              <input type="password" name="password" placeholder="password">

              <label>Gender</label>
              <input type="radio" name="gender" value="male"> Male<br>
              <input type="radio" name="gender" value="female"> Female<br>
              <input type="radio" name="gender" value="other"> Other

              <label>Age</label>
              <input type="text" name="age" placeholder="age">

              <p>Prefered matches</p>

              <fieldset class="prefered__age">
                <label>Set age range</label>
                <input type="text" name="min_age" placeholder="20">
                <p>till</p>
                <input type="text" name="max_age" placeholder="30">
              </fieldset>

              <label>Likes</label>
              <input type="radio" name="prefered_gender" value="male"> Male<br>
              <input type="radio" name="prefered_gender" value="female"> Female<br>
              <input type="radio" name="prefered_gender" value="both"> both
              <button class="button--fullwidth" type="submit">Submit change</button>
          </form>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
