<% include partials/head.ejs %>
    <title>Set password | Drinkerz</title>
</head>
<body>
    <main class="sign-up__container">
        <section class="sign-up__section">
          <figure class="sign-up__header">
            <img src="/static/media/images/logo.png" alt="logo Drinkerz">
            <h1 class="sign-up__title">Drinkerz</h1>
          </figure>

          <form class="sign-up__form" action="/set-password" method="POST">
              <p><%- user.username %></p>
              <label>Password</label>
              <input type="password" name="password" placeholder="<%- user.password %>">
              <button class="button--fullwidth" type="submit">Add password</button>
          </form>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
