
/* Define custom properties */
:root {
    /* Colors */
    --bg-color: #fff;
    --main-color: #fcbd12;
    --text-color: #2c2c2c;
    --third-color: #999;

    /* Font sizes */
    --font-size-title: 2.488em;
    --font-size-h2:  1.728em;
    --font-size-h3: 1.2em;
    --font-size-body: 1em;
    --font-size-buttons: 0.8em;

    /* Font weights */
    --font-weight-titles: 700;
    --font-weight-h3: 600;
    --font-weight-body: 300;

    /* Transitions */
    --easing: ease-in;
    --anim-speed-normal: 0.6s;
    --anim-speed-fast: 0.3s;
}

/* Font imports */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

/* Generic styling */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: var(--font-size-body);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
}

/* Typography */
h1,
h2,
h3 {
    margin: 0.5em 0;
}

h1, h2 {
    font-weight: var(--font-weight-titles);
}

h3 {
    font-weight: var(--font-weight-h3);
}

h1 {
    font-size: var(--font-size-title);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: var(--font-weight-body);
}

.error {
    background: #eb4d4b;
    padding: 0.5em;
    color: #fff;
}

/* Buttons */
.btn,
form button {
    display: block;
    font-size: var(--font-size-buttons);
    background: var(--main-color);
    padding: 1em 2em;
    border: 1px solid var(--bg-color);
    margin: 0.5em 0;
    color: #fff;
}

.btn:hover,
form button:hover {
    background-color: #fcce51;
    color: var(--bg-color)!important;
}

/* Forms */
.login-wrapper {
    border-radius: 10px;
    color: var(--text-color);
    background: #fff;
    max-width: 20em;
    margin: 0 auto;
    padding: 1em;
}

.login-wrapper__link {font-weight: var(--font-weight-h3);}
.login-wrapper__link--normal {color: var(--text-color);}
.login-wrapper__link--special {color: var(--main-color);}

.form {
    margin: 0.5em 0;
}

.form input {
    border: 1px solid var(--third-color);
    border-radius: 3px;
    padding: 0.1em;
    font-size: var(--font-size-body);
}

.form--login {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--third-color);
}

    .form--login button {
        width: 100%;
        text-align: center;
    }

/* Header styling */
#homepage > header {
    background: transparent;
    position: absolute;
}

/* Footer styling */
body > footer {
    padding: 1em 0;
    justify-content: space-between;
    background: var(--text-color);
    color: var(--bg-color);
    margin-top: 5rem;
}

    body > footer > ul {
        max-width: 70em;
        margin: 1em auto;
        padding: 0 0.5em;
    }

    body > footer a {
        font-weight: var(--font-weight-body);
        color: var(--bg-color);
    }

/* User / Bar block styling */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

    .card {
        position: relative;
        border-radius: 10px;
        width: 100%;
        overflow: hidden;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    }

        .card__button {
            position: absolute;
            border-radius: 50%;
            font-size: 0;
            background-image: url("../path/to/img");
            box-shadow: 0px px 5px rgba(0, 0, 0, 0.2);
        }

        .card__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card__meta-block {
            padding: 1em;
            position: absolute;
            bottom: 1em;
            left: 1em;
            right: 1em;
            background: white;
            z-index: 444;
            border-radius: 4px;
        }

        .card__meta-title {
            font-weight: var(--font-weight-h3);
        }

nav {
  position: fixed;
  bottom: 0;
}

.nav__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #ffffff;
  margin: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

  .nav__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

    .item__link {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      font-size: 0.6em;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 0.2rem;
    }

    .item__link.active {
      font-weight: 600;
    }

      .item__link > img {
        display: block;
        transform: scale(1.2);
        margin-bottom: 8px;
      }

  @media screen and (min-width: 30em) {
        nav{
          bottom: auto;
          top: 0;
        }
          .nav__inner{
            bottom: auto;
            top: 0;
          }

          .nav__inner li a img{
              display: none;
          }

          .nav__item{
            justify-content: flex-start;
            align-items: flex-start;
          }

          .nav__inner .item__link{
            font-size:1em;
            width: auto;
          }
      }

/* 404 Page styling */




/* Sign-up styling */

.form__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../media/images/bg.png');
  background-position: center;
  background-size: cover;
}

.form__section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: calc(25% + 4rem);
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.form__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.form__header img {
  height: 6em;
  width: 6em;
}

.form__header h1 {
  text-transform: uppercase;
}

.button--fullwidth {
  width: 100%;

}

.form__form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.form__form label {
  width: 100%;
  display: flex;
  align-items: center;
}

.form__form input {
  width: 100%;
  font-size: 1.125rem;
  padding: .5rem 1rem;
  text-align: center;
}

.form__or {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px #666 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #666;
}



.preferred__age {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.invisible {
  display: none;
}


/* CSS Styling home page (index.html) */

.homepage-banner {
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: url('../media/images/bg.png');
  background-position: center;
  background-size: cover;
}

.homepage-banner div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}


.success__story h2{
  margin: 2rem 0;
}


.stories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  padding: 0 2rem 2rem;
}

@media screen and (min-width: 30rem) {
  .stories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60rem) {
  .stories {
    grid-template-columns: repeat(3, 1fr);
  }
}

.success__story {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.story__img{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.story__img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
