<form action="/" method="post">
  <fieldset>
    <label for="male">Male</label>
    <input id="male" type="radio" name="genders" value="male">
    <label for="female"></label>
    <input id="female" type="radio" name="genders" value="female">
  </fieldset>
  <!-- <fieldset>
    <input type="text" name="age" value="min">
    <input type="text" name="age" value="max">
  </fieldset>
  <fieldset>
    <input type="checkbox" name="beers" value="">
  </fieldset>-->
  <input type="submit" name="submit" value="submit">
</form>
