<footer>
    <ul>
        <li><a href="">About CycLove</a></li>
        <li><a href="">Why CycLove</a></li>
    </ul>
    <ul>
        <li><a href="">Privacy Policy</a></li>
        <li>&copy; Copyright 2019, <a href="">Kris Kuiper</a></li>
    </ul>
</footer>
<script src="/static/scripts/main.js"></script>