<footer>
    <ul>
        <li><a href="">About Drinkerz</a></li>
        <li><a href="">Why Drinkerz</a></li>
    </ul>
    <ul>
        <li><a href="">Privacy Policy</a></li>
        <li>&copy; Copyright 2019, <a href="">Team Drinkerz</a></li>
    </ul>
</footer>
<script src="/scripts/main.js"></script>