<form action="/my-feed" method="POST">
    <label>The title of your post
        <input type="text" name="title">
    </label>
    <label>How many km's did you cycle?
        <input type="number" name="kms">
    </label>
    <label>Where did you cycle?
        <input type="text" name="location">
    </label>
    <label>How was your cycling route?
        <textarea name="contents" cols="30" rows="10"></textarea>
    </label>
    <button type="submit">Post</button>
</form>