<nav>
    <ul id="nav__inital" class="nav__inner initial__state">
      <li id="logo" class="nav__item"><a href="/"><img src="/media/images/icons/icon-192.png" alt="Logo Drinkerz" ></a></li>
      <li class="nav__item"><a href="/create-account"><button class="nav__button" type="button" name="button">sign up</button></a></li>
    </ul>
</nav>
