<button class="btn button--fullwidth" type="button" name="button" id="untappdConnect" >Connect with Untappd</button>
<form class="form__form" action="/log-in" method="POST">
    <label class="invisible" for="username">Username</label>
        <input type="text" class="input__login" name="username" placeholder="Username">
    <label class="invisible" for="password">Password</label>
        <input type="password" class="input__login" name="password" placeholder="Password">
    <button type="submit" class="button__login">Login</button>
</form>
