<nav>
    <ul class="nav__inner">
        <li class="nav__item"><a href="/"><img src="/media/images/icons/icon-192.png" alt="Logo Drinkerz"></a></li>
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="/profile">My profile</a></li>
        <li class="nav__item"><a href="/liked">Liked users</a></li>
        <li class="nav__item"><a href="/bars">Bars</a></li>
    </ul>
</nav>
