<nav class="sidebar__navigation">
  <ul class="navigation__list">
    <li id="logo" class="nav__item"><a href="/"><img src="/media/images/icons/icon-192.png" alt="Logo Drinkerz">Drinkerz</a></li>
    <li class="nav__item"><a class="item__link" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <g fill="none" fill-rule="evenodd" transform="translate(-2 -3)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M12,5.69 L17,10.19 L17,18 L15,18 L15,12 L9,12 L9,18 L7,18 L7,10.19 L12,5.69 Z M12,3 L2,12 L5,12 L5,20 L11,20 L11,14 L13,14 L13,20 L19,20 L19,12 L22,12 L12,3 Z" />
          </g>
        </svg>Home</a></li>
    <li class="nav__item"><a class="item__link" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <g fill="none" fill-rule="evenodd" transform="translate(-4 -4)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M12,6 C13.1,6 14,6.9 14,8 C14,9.1 13.1,10 12,10 C10.9,10 10,9.1 10,8 C10,6.9 10.9,6 12,6 Z M12,16 C14.7,16 17.8,17.29 18,18 L6,18 C6.23,17.28 9.31,16 12,16 Z M12,4 C9.79,4 8,5.79 8,8 C8,10.21 9.79,12 12,12 C14.21,12 16,10.21 16,8 C16,5.79 14.21,4 12,4 Z M12,14 C9.33,14 4,15.34 4,18 L4,20 L20,20 L20,18 C20,15.34 14.67,14 12,14 Z" />
          </g>
        </svg>
        My profile</a></li>
    <li class="nav__item"><a class="item__link" href="/users">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14">
          <g fill="none" fill-rule="evenodd" transform="translate(0 -5)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M5,15 L5,12 L8,12 L8,10 L5,10 L5,7 L3,7 L3,10 L0,10 L0,12 L3,12 L3,15 L5,15 Z M12,13.75 C9.66,13.75 5,14.92 5,17.25 L5,19 L19,19 L19,17.25 C19,14.92 14.34,13.75 12,13.75 Z M7.34,17 C8.18,16.42 10.21,15.75 12,15.75 C13.79,15.75 15.82,16.42 16.66,17 L7.34,17 Z M12,12 C13.93,12 15.5,10.43 15.5,8.5 C15.5,6.57 13.93,5 12,5 C10.07,5 8.5,6.57 8.5,8.5 C8.5,10.43 10.07,12 12,12 Z M12,7 C12.83,7 13.5,7.67 13.5,8.5 C13.5,9.33 12.83,10 12,10 C11.17,10 10.5,9.33 10.5,8.5 C10.5,7.67 11.17,7 12,7 Z M17,12 C18.93,12 20.5,10.43 20.5,8.5 C20.5,6.57 18.93,5 17,5 C16.76,5 16.52,5.02 16.29,5.07 C17.05,6.01 17.5,7.2 17.5,8.5 C17.5,9.8 17.03,10.98 16.27,11.92 C16.51,11.97 16.75,12 17,12 Z M19.32,14.02 C20.32,14.83 21,15.89 21,17.25 L21,19 L24,19 L24,17.25 C24,15.56 21.56,14.49 19.32,14.02 Z" />
          </g>
        </svg>
        Users</a></li>
    <li class="nav__item"><a class="item__link" href="/matches">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="22" viewBox="0 0 16 22">
          <g fill="none" fill-rule="evenodd" transform="translate(-4)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M11.57,13.16 C10.21,13.44 9.4,14.32 9.4,15.57 C9.4,16.91 10.51,17.99 11.89,17.99 C13.94,17.99 15.6,16.33 15.6,14.28 C15.6,13.21 15.45,12.16 15.14,11.16 C14.35,12.23 12.94,12.88 11.57,13.16 Z M13.5,0.67 C13.5,0.67 14.24,3.32 14.24,5.47 C14.24,7.53 12.89,9.2 10.83,9.2 C8.76,9.2 7.2,7.53 7.2,5.47 L7.23,5.11 C5.21,7.51 4,10.62 4,14 C4,18.42 7.58,22 12,22 C16.42,22 20,18.42 20,14 C20,8.61 17.41,3.8 13.5,0.67 Z M12,20 C8.69,20 6,17.31 6,14 C6,12.47 6.3,10.96 6.86,9.57 C7.87,10.58 9.27,11.2 10.83,11.2 C13.49,11.2 15.58,9.37 16.11,6.77 C17.34,8.97 18,11.44 18,14 C18,17.31 15.31,20 12,20 Z" />
          </g>
        </svg>
        Liked users</a></li>
    <li class="nav__item"><a class="item__link" href="/bars">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <g fill="none" fill-rule="evenodd" transform="translate(-3 -3)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M14.77,9 L12,12.11 L9.23,9 L14.77,9 Z M21,3 L3,3 L3,5 L11,14 L11,19 L6,19 L6,21 L18,21 L18,19 L13,19 L13,14 L21,5 L21,3 Z M7.43,7 L5.66,5 L18.35,5 L16.57,7 L7.43,7 Z" />
          </g>
        </svg>
        Bars</a></li>
    <li class="nav__item"><a class="item__link log-out" href="/log-out">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <g fill="none" fill-rule="evenodd" transform="translate(-3 -3)">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path fill="#2C2C2C" fill-rule="nonzero" d="M14.77,9 L12,12.11 L9.23,9 L14.77,9 Z M21,3 L3,3 L3,5 L11,14 L11,19 L6,19 L6,21 L18,21 L18,19 L13,19 L13,14 L21,5 L21,3 Z M7.43,7 L5.66,5 L18.35,5 L16.57,7 L7.43,7 Z" />
          </g>
        </svg>
        Log-out</a></li>
  </ul>
</nav>

<div class="topbar__container">
  <div class="beersearch__container">
    <form id="beer__search" action="/search-beer" class="beer__search" method="post">
      <input type="text" name="beerName" id="searchName" placeholder="Search for a beer">
      <button type="submit" class="beer__search__button" name="button">Search</button>
    </form>
  </div>

  <div class="account__container">
    <p>Hi <%= user.firstName %>!</p>
    <img src="<%= user.profilePicture %>" alt="<%= user.firstName %>">
  </div>
</div>
