<nav>
    <ul class="nav__inner">
      <li id="logo" class="nav__item"><a href="/"><img src="/media/images/icons/icon-192.png" alt="Logo Drinkerz" ></a></li>
      <li class="nav__item"><a class="item__link" href="/"><img src="/media/images/home-inactive.svg" alt="">Home</a></li>
      <li class="nav__item"><a class="item__link" href="/"><img src="/media/images/profile-inactive.svg" alt="">My profile</a></li>
      <li class="nav__item"><a class="item__link" href="/users"><img src="/media/images/find-users-inactive.svg" alt="">Users</a></li>
      <li class="nav__item"><a class="item__link" href="/matches"><img src="/media/images/liked-users-inactive.svg" alt="">Liked users</a></li>
      <li class="nav__item"><a class="item__link" href="/bars"><img src="/media/images/bars-inactive.svg" alt="">Bars</a></li>
    </ul>
</nav>
