<button class="btn button--fullwidth" type="button" name="button" id="untappdConnect" onclick="">Connect with Untappd</button>
<span class="form__or">or</span>
<form class="form__form" action="/" method="POST">

    <label class="invisible" for="username">Username</label>
    <input type="text" name="username" placeholder="Username">

    <label class="invisible" for="password">Password</label>
    <input type="password" name="password" placeholder="Password">

    <label class="invisible" for="firstname">Firstname</label>
    <input type="text" name="firstname" placeholder="firstname">

    <label class="invisible" for="lastname">Lastname</label>
    <input type="text" name="lastname" placeholder="lastname">

    <fieldset class="form__row">
      <label class="invisible">Gender</label>
      <div class="form__item">
        <input type="radio" name="gender" value="male"> Male<br>
      </div>
      <div class="form__item">
      <input type="radio" name="gender" value="female"> Female<br>
      </div>
      <div class="form__item">
      <input type="radio" name="gender" value="other"> Other
      </div>
    </fieldset>

    <label class="invisible" for="age">Age</label>
    <input type="text" name="age" placeholder="age">

    <button class="button--fullwidth" type="submit">Sign up</button>
</form>
