<form action="/" method="POST">
    <label>Username
        <input type="text" name="username">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <label>First name
        <input type="text" name="firstname">
    </label>
    <label>Last name
        <input type="text" name="lastname">
    </label>
    <label>Your bike
        <input type="text" name="bike">
    </label>
    <button type="submit">Sign up</button>
</form>