<button class="btn button--fullwidth" type="button" name="button" id="untappdConnect" onclick="">Connect with Untappd</button>
<span class="form__or">or</span>
<form class="sign-up__form" action="/" method="POST">

    <label>Username
    <input type="text" name="username" placeholder="username">
    </label>

    <label>Password
    <input type="password" name="password" placeholder="password">
    </label>

    <label>Firstname
    <input type="text" name="firstname" placeholder="firstname">
    </label>

    <label>Lastname
    <input type="text" name="lastname" placeholder="lastname">
    </label>

    <label>Gender
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other
    </label>

    <label>Age
    <input type="text" name="age" placeholder="age">
    </label>

    <p>preferred matches</p>

    <fieldset class="preferred__age">
      <label>Set age range
      <input type="text" name="age_min" placeholder="20">
      <p>till</p>
      <input type="text" name="age_max" placeholder="30">
      </label>
    </fieldset>

    <label>Likes
    <input type="radio" name="preferred_gender" value="male"> Male<br>
    <input type="radio" name="preferred_gender" value="female"> Female<br>
    <input type="radio" name="preferred_gender" value="both"> both
    </label>
    <button class="button--fullwidth" type="submit">Sign up</button>
</form>
