<form action="/" method="POST">
    <label>Username
        <input type="text" name="username">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <label>First name
        <input type="text" name="firstname">
    </label>
    <label>Last name
        <input type="text" name="lastname">
    </label>
    <label>age
        <input type="number" name="age">
    </label>
    <label>gender
        <input type="radio" name="male">
        <input type="radio" name="female" value="">
    </label>
    <label>Bier
        <input type="checkbox" name="bier1">
    </label>
    <label>Locatie
        <input type="text" name="locatie">
    </label>
    <button type="submit">Sign up</button>
</form>
