<button class="btn button--fullwidth" type="button" name="button" id="untappdConnect">Connect with Untappd</button>
<span class="form__or">or</span>
<form class="sign-up__form" action="/" method="POST">
    <label>Username</label>
    <input type="text" name="username" placeholder="username">
    <label>Password</label>
    <input type="password" name="password" placeholder="password">
    <button class="button--fullwidth" type="submit">Sign up</button>
</form>
